version: '3'

services:
  db:
    image: postgres:10
    env_file:
      - .db.env
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata

  web:
    build: .
    command: gunicorn ecommerce_app.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .web.env
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  nginx:
    build: ./nginx
    volumes:
      - ./static:/app/static
    ports:
      - 1337:80
    depends_on:
      - web